@import "antd/dist/reset.css";
@import "tailwindcss";

@layer components {
  .app-select .ant-select-selector {
    border-radius: 0.5rem !important;
  }
  .app-select:hover .ant-select-selector {
    border-color: #8b5cf6 !important;
  }
  .app-select.ant-select-focused .ant-select-selector {
    border-color: #8b5cf6 !important;
    box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.2) !important;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #8e51ff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f3bff;
}

body::selection {
  background: #8e51ff;
  color: white;
}